#main {
  height: 100%;
  width: 100%;
  display: flex;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.full-page {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100vw; /* 전체 뷰포트 너비 */
  height: 100vh; /* 전체 뷰포트 높이 */
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-image: url("src/asset/image/start_page_background.png");*/
}
.full-page::after{
  width: 100%;
  height: 100%;
  content: "";
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  background-image: url("/public/image/start_page_background.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  /*background-color: lightblue;*/
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container .title{
  /*align-content: center;*/
  padding-top: 200px;
  height: 25vh;
  font-size: 50px;
  font-weight: bold;
}
